<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'libraries/bootstrap/bootstrap.min.css' %}">
    {% block style %}{% endblock %}
    <script src="{% static 'libraries/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'libraries/bootstrap/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
    <title>{{ pagetitle }}</title>
</head>

<body>
<header class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand">Sputnik IDE</span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% for name, url in menu %}
                <li><a class="nav-link" href="{{ url }}">{{ name }}</a></li>
            {% endfor %}
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                {% for name, url in admin_menu %}
                    <li><a class="nav-link" href="{{ url }}">{{ name }}</a></li>
                {% endfor %}
            {% endif %}
        {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
        <span class="p-2 navbar-brand" style="font-size: 1rem;">Привет, {{ user.first_name }}</span>
        <a class="btn btn-outline-success" href="/logout">Выйти</a>
    {% else %}
        <a class="btn btn-outline-success" href="/login">Войти</a>
    {% endif %}
</header>

{% block over_content %}
<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="container pt-4 my-md-5 border-top">
    <p>© MIEM HSE 2019</p>
</footer>
{% endblock %}

</body>
</html>
