{% extends 'base.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'monaco-editor/min/vs/loader.js' %}"></script>
    <script>
        var project_id = {{ project_id }};
        var version_id = {{ version_id }};
        var version_code = '{% autoescape off %}{{ version_code|escapejs }}{% endautoescape %}';
        var version_loading_url = "{% url 'version_loading' project_id version_id %}";
        var editor;
        require.config({ paths: { 'vs': '{% static "monaco-editor/min/vs/" %}' }});
        require(['vs/editor/editor.main'], function() {
            editor = monaco.editor.create(document.getElementById('monaco-editor'), {
                value: version_code,
                language: "cpp"
            });
        });
    </script>
    <script src="{% static 'version.js' %}"></script>
{% endblock %}

{% block style %}
    <style>
        .full-height {
            height: calc(100vh - 56px);
            box-sizing: border-box;
            padding-top: 6px;
        }
        .version-bar {
            box-sizing: border-box;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 48px;
        }
        .editor {
            box-sizing: border-box;
            height: 50%;
        }
        .button-bar {
            box-sizing: border-box;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 48px;
        }
        .console {
            box-sizing: border-box;
            height: calc(50% - (48px + 48px + 2px));
            margin-bottom: 2px;
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 12px;
            letter-spacing: 0;
            word-spacing: 1px;
            color: #000000;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
            overflow-y: scroll;
        }
        .console .returncode {
            color: #003366;
        }
        .button-aling {
            margin-top: 6px;
            margin-bottom: 0;
        }
        .version-list {
            box-sizing: border-box;
            height: calc(50% - 64px);
            overflow-y: scroll;
        }
        .response-status {
            box-sizing: border-box;
            height: 50%;
            overflow-y: scroll;
        }
        .response-status .alert {
            margin-bottom: 4px;
            margin-right: 4px;
            padding: 6px 36px 6px 10px;
            font-size: 14px;
        }
        .response-status .alert .close {
            padding: 3px 10px 8px;
        }
        .list-group-item {
            padding: 6px 10px;
        }
    </style>
{% endblock %}

{% block over_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 full-height">
                <h5>Проект {{ project_name }}</h5>
                <div class="version-list list-group">
                    {% for version in versions %}
                        <a href="{% url 'version' project_id version.id %}"
                           class="list-group-item list-group-item-action {% if version.id == version_id %} active {% endif %}">
                            <b>{{ version.name }}</b> ({{ version.upload_time|default_if_none:'created automatically' }})</a>
                    {% endfor %}
                </div>
                <h5>Статус</h5>
                <div class="response-status"></div>
            </div>

            <div class="col-9 full-height" style="padding-right: 10px;">
                {% csrf_token %}
                <div class="version-bar">
                    <div class="float-left">
                        <h5 class="button-aling">Версия v{{ version_number }}</h5>
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" id="save_as_new">Save as New</button>
                        <button type="button" class="btn btn-primary" id="save">Save</button>
                        <button type="button" class="btn btn-primary" id="build">Build</button>
                        <button type="button" class="btn btn-primary" id="build_and_run">Build and Run</button>
                    </div>
                </div>
                <div class="editor border" id="monaco-editor"></div>

                <div class="button-bar">
                    <div class="float-left">
                        <h5 class="button-aling">Консоль</h5>
                    </div>
                    <div class="float-right">
                        <a href="{% url 'version_delete' project_id version_id %}" class="btn btn-outline-danger" role="button">Удалить</a>
                    </div>
                </div>
                <div class="console border" id="console">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
