<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block style %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
    <title>{{ pagetitle }}</title>
</head>

<body>
<header class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand">??? Name ???</span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% for url, name in menu %}
                <li><a class="nav-link" href="{{ url }}">{{ name }}</a></li>
            {% endfor %}
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                {% for url, name in admin_menu %}
                    <li><a class="nav-link" href="{{ url }}">{{ name }}</a></li>
                {% endfor %}
            {% endif %}
        {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
        <span class="p-2 navbar-brand" style="font-size: 1rem;">Привет, {{ user.first_name }}</span>
        <a class="btn btn-outline-success" href="/logout">Выйти</a>
    {% else %}
        <a class="btn btn-outline-success" href="/login">Войти</a>
    {% endif %}
</header>

{% block over_content %}
<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="container pt-4 my-md-5 border-top">
    <p>© Company 2019</p>
</footer>
{% endblock %}

</body>
</html>